<footer id="footer" class="footer label-success">
  <div class="col-md-12 text-center">
    <div class="footer-logo">
      <img src="/assets/img/site-logo.png" alt="logo copyright">
    </div>
  </div>
  <div class="col-md-12 text-center">
    <ul class="footer-nav">
      <li> <a> Home </a> </li>
      <li> <a> Featured </a> </li>
      <li> <a> Key Partners </a> </li>
      <li> <a> Grocery </a> </li>
      <li> <a> Screenshots </a> </li>
      <li> <a> Shopping </a> </li>
      <li> <a> Download </a> </li>
      <li> <a> Availability </a> </li>
      <li> <a> Contact </a> </li>
      <li> <a> Faq </a> </li>
      <li> <a> Site Map </a> </li>
    </ul>
  </div>
  <div class="col-md-12 text-center">
    <div class="copyright">Copyright @2017 El Grocer. All rights reserved. Developed by Doyze Software Solution</div>
  </div>
  <div class="col-md-12 text-center">
    <ul class="media-list">
      <li> <a href="" class="facebook"></a> </li>
      <li> <a href="" class="instagram"></a> </li>
    </ul>
  </div>
</footer>
