<nav id="main-nav" class="main-nav text-center">
  <div class="container-fluid">
    <div class="row">
      <ul>
        <li> <span class="home-icon"></span> <a href="index.html">Home</a></li>
        <li> <span class="order-icon"></span><a>Order</a></li>
        <li> <span class="product-icon"></span> <a>Products</a></li>
        <li class="hidden-lg hidden-md hidden-sm"> <span class="account-icon-resp"></span> <a>Account</a></li>
        <li class="hidden-lg hidden-md hidden-sm"> <span class="bastket-icon-resp"></span> <a href="basket-mobile.html">Basket</a></li>
      </ul>
    </div>
  </div>
</nav>
