
<div class="sub-categories short-header">
  <header id="header-top" class="header-top" stickyHeader>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
          <a routerLink="/" title="el Grocer" class="site-logo">
            <img src="/assets/img/site-logo-green.png" alt="el Grocer">
          </a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-4" >
          <app-stores-popup></app-stores-popup>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 searchbar-con">
          <app-search-form></app-search-form>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-8 text-center text-sm-right">
          <app-header-address></app-header-address>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 hidden-xs text-right account">
          <div class="row">
            <button class="button button-blank map margin-top-10"> <span class="account-icon"></span>Account</button>
          </div>
        </div>
        <app-basket></app-basket>
      </div>
    </div>
  </header>
  <!-- end of header -->
  <!-- nav-->
  <app-navigation></app-navigation>
  <!-- end of nav -->
  <!-- Content-->
  <section id="content" class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 hidden-xs left-sidebar-con">
          <aside id="left-sidebar" class="left-sidebar">
            <h5>{{ storeName }}</h5>
            <h3 class="text-black">Categories</h3>
            <app-categories-list></app-categories-list>
          </aside>
        </div>
        <app-products></app-products>
      </div>
    </div>
  </section>

<!-- end of Content -->
<app-footer></app-footer>
</div>
